#body{
    background-color: ivory;
}

#clock { 
    background-color: steelblue;
    font-family: sans-serif; 
    font-size: 50px;
    width: 250px; 
    color:black;
    text-align: center; 
    border: 2px solid black; 
    border-radius: 20px; 
  } 

  
  