#body{
    background-color: ivory;
}

#clock { 
    background-color: steelblue;
    font-family: sans-serif; 
    font-size: 50px;
    width: 250px; 
    color:black;
    text-align: center; 
    border: 2px solid black; 
    border-radius: 20px; 
  } 

  #btn {
        margin-top: 6px;
        display: flex;
        max-width: 250px;
        color: blue;
        justify-content: center;
        align-items: center;
  }
  